nav ul {
	overflow:hidden; 
	overflow-y:scroll;
}

nav li {
	border : 5px solid transparent;
}

.order_list_div {
	margin-right:10px;
	width:20%;
	float: left;
}

.order_content_div {
	margin-right:10px;
	width:40%;
	float: left;
}

.order_list {
	height:45rem; 
	list-style-type: none;
	text-align: center;
}

.order_content {
	height:45rem; 
	width:100%;
	list-style-type: none;
}

.chat_switch {
  padding-left: 0.1em;
  width: 50px;
  height: 50px;
}

.chat {
	padding-left : 55em;
}

.message_holder {
	width:100%;
	height:auto;
}

.message_field {
	width:100%;
}

.halfButton {
	width:49.55%;
	height:50px;
	margin-bottom:5px;
	border:none;
}

.fullButton {
	width:100%;
	height:50px;
	border:none;
}